extends ../../../template/default
  
block content
  section.section
    div.container
      h1.title Admin - Players
      hr
      div.content
        table.table
          thead
            tr
              th Display name
              th Steam ID
              th Created at
              th Updated at
              th Actions
          tbody
            each user in users
              tr
                td
                  img(src=user.avatar style='max-height: 22px')
                  | &nbsp; #{user.display_name}
                td #{user.steam_id}
                td #{user.created_at}
                td #{user.updated_at}
                td
                  