extends ../../../template/default
  
block content
  section.section
    div.container
      h1.title Admin - Players
      hr
      div.content
        table.table
          thead
            tr
              th Display name
              th Steam ID
              th RP
              th Created at
              th Updated at
              th.has-text-right Actions
          tbody
            each user in users
              tr
                td
                  if user.avatar
                    img(src=user.avatar style='max-height: 22px')
                  | &nbsp; #{user.display_name}
                td #{user.steam_id}
                td #{user.rp}
                td #{moment(user.created_at).format('DD-MM-YYYY HH:mm')}
                td #{moment(user.updated_at).format('DD-MM-YYYY HH:mm')}
                td.has-text-right
                  a.button.is-primary.is-small.is-outlined(href=`/admin/players/${user.id}`) View profile
                  