extends ../template/default
  
block content
  section.hero.is-primary.is-bold
    .hero-body
      .container
        h1.title Chatlog

  section.section
    div.container
      div.content
        table.table
          each log in logs
            tr
              td(width='145px')
                small #{moment(log.created_at).format('DD-MM-YYYY HH:mm')}

              td
                if log.user_id === null
                  small 
                    strong #{log.display_name}
                else
                  small #{log.display_name}

              td
                small #{log.message}

        //- each log in logs
        //-   strong #{log.display_name}:
        //-   |#{log.message}
        //-   small (#{log.created_at})
